---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import AboutMe from "../components/AboutMe.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Experience from "../components/Experience.astro";
import Code from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro";
import Projects from "../components/Projects.astro";
import Hero from "../components/Hero.astro"
---

<Layout
  title="Portfolio of FeryaelJustice - Mobile / Web Developer and Programmer with 1 year of experience"
  description="Hire FeryaelJustice to create your mobile or web app. Web / Mobile Developer. Specialized in creating amazing unique apps."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
      </Hero>
    </SectionContainer>

    <div class="space-y-24">
      <SectionContainer id="experience">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <BriefCase class="size-8" /> Experience
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="projects">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <Code class="size-7" /> Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about" class="mt-4">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <ProfileCheck class="size-8" /> About Me
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
