---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import AboutMe from "../components/AboutMe.astro"
import BriefCase from "../components/icons/BriefCase.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import Code from "../components/icons/Code.astro";
import ProfileCheck from "../components/icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio of FeryaelJustice - Mobile / Web Developer and Programmer with 1 year of experience"
  description="Hire FeryaelJustice to create your mobile or web app. Web / Mobile Developer. Specialized in creating amazing unique apps."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Image
        class="rounded-full mb-4"
        src="https://avatars.githubusercontent.com/u/47835172?s=400&u=7bd211a55a2104fbb3abb9e5d6172f8a233180bf&v=4"
        alt="FeryaelJustice logo"
        width="100"
        height="100"
        loading="eager"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I am FeryaelJustice <a
          href="https://www.linkedin.com/in/feryael-justice/"
          rel="noopener"
          target="_blank"
          class="flex justify-center items-center"
          ><Badge>Available to work</Badge></a
        >
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span>+1 year of experience.</span>
        <span class="text-yellow-200/90">Mobile / Web Developer.</span>
        <span class="text-red-100/90">From Mallorca, Spain 🇪🇸.</span>
        <span class="opacity-75">Specialized in Android Apps and Frontend.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/feryael-justice">
          <Linkedin class="size-4 md:size-6" />LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/FeryaelJustice">
          <Github class="size-4 md:size-6" />Github
        </SocialPill>
        <SocialPill href="mailto:fgonzalezserrano10@gmail.com">
          <Mail class="size-4 md:size-6" />fgonzalezserrano10@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-8" /> Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" /> Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about" class="mt-4">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <ProfileCheck  class="size-8" /> About Me
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
