---
const { lang } = Astro.props;
const personalImageAlt = "Fernando GS";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row "
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Fernando Gonzalez Serrano, but my friends call me Feryael. I
      started programming when I was 15, exploring web development and desktop
      software. My last job is: <strong
        >Fullstack Web Developer</strong
      > at Homerti, a vacation rental company, where I help maintain internal web
      applications and resolve technical issues.
    </p>

    <p>
      Some of my achievements include <strong
        >developing desktop enterprise software at Tec-Soft, using Delphi and
        tools like PDFBuilder</strong
      >. Additionally, I have experience working with technologies such as <strong
        >Laravel, Vue.js, Node.js, and TailwindCSS,</strong
      > which I use daily to ensure the smooth operation of our platforms at Homerti.
    </p>

    <p>
      As a developer, my passion lies in <span class="italic">
        efficient, secure, and scalable applications</span
      >. My aim is to continue growing in the tech industry, focusing on
      improving my skills and contributing to impactful projects.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
