---
import ExperienceItem from "./ExperienceItem.astro";

import { getLangFromUrl } from "@i18n/utils";
const currentLocale = getLangFromUrl(Astro.url);

const EXPERIENCE = [
    {
        date:
            currentLocale == "en"
                ? "December 2024 - June 2025  (6 months)"
                : currentLocale == "es"
                  ? "Diciembre 2024 - June 2025 (6 meses)"
                  : "",
        title: "Android Developer (Junior)",
        company: "Exis TI",
        description:
            currentLocale == "en"
                ? "Computer consultant focused on Android programming. Collaborated on a banking app with NTTData. Developed 5+ new features using Kotlin, Jetpack Compose, Hilt, MVVM, and Retrofit. Implemented secure builds with Proguard/Dexguard."
                : currentLocale == "es"
                  ? "Consultor informático especializado en programación Android. Colaboré en una aplicación bancaria con NTTData. Desarrollé más de cinco nuevas funcionalidades con Kotlin, Jetpack Compose, Hilt, MVVM y Retrofit. Implementé compilaciones seguras con Proguard/Dexguard."
                  : "",
        link: "https://www.exis-ti.com/",
    },
    {
        date:
            currentLocale == "en"
                ? "February 2024 - August 2024 (7 months)"
                : currentLocale == "es"
                  ? "Febrero 2024 - Agosto 2024 (7 meses)"
                  : "",
        title: "Fullstack Web Developer",
        company: "Homerti",
        description:
            currentLocale == "en"
                ? "Maintained and developed internal web products using Laravel and Vue.js. Worked in an Agile team using Bitbucket for version control. From September of 2023 to December of 2023 did an internship of higher vocational training."
                : currentLocale == "es"
                  ? "Mantuve y desarrollé productos web internos con Laravel y Vue.js. Trabajé en un equipo ágil con Bitbucket para el control de versiones. De septiembre a diciembre de 2023, realicé prácticas profesionales de formación superior."
                  : "",
        link: "https://www.homerti.com",
    },
    {
        date:
            currentLocale == "en"
                ? "May 2022 - August 2022 (4 months)"
                : currentLocale == "es"
                  ? "Mayo 2022 - Agosto 2022 (4 meses)"
                  : "",
        title: "Software Developer",
        company: "Tec-Soft",
        description:
            currentLocale == "en"
                ? "Developed enterprise software in Delphi Seattle for desktop environments."
                : currentLocale == "es"
                  ? "Desarrollé software empresarial en Delphi Seattle para entornos de escritorio."
                  : "",
        link: "https://www.tec-soft.com",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
