<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img class="rounded-full size-12" src="https://avatars.githubusercontent.com/u/47835172?s=400&u=7bd211a55a2104fbb3abb9e5d6172f8a233180bf&v=4" alt="FeryaelJustice photo"/>

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>