---
const personalImageAlt = "Feryael Justice";
import { Image } from "astro:assets";
import Badge from "./Badge.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <Image
      class="rounded-full mb-4"
      src="https://avatars.githubusercontent.com/u/47835172?s=400&u=7bd211a55a2104fbb3abb9e5d6172f8a233180bf&v=4"
      alt={personalImageAlt}
      width="80"
      height="80"
      loading="eager"
    />
    <a
      href="https://linkedin.com/in/feryael-justice"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available to work</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight sm:text-5xl text-white"
  >
    Hey, I am Feryael Justice
  </h1>
  <p
    class="mt-6 text-xl [&>strong]:text-yellow-200 [&>strong]:font-semibold text-gray-300"
  >
    <span class="text-yellow-200/90"><em>Junior</em> Mobile / Web Developer.</span>
    <span class="text-red-100/90">From Mallorca, Spain 🇪🇸.</span>
    <span class="opacity-75">Specialized in Android Apps and Frontend.</span>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:fgonzalezserrano10@gmail.com">
      <Mail class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/feryael-justice">
      <Linkedin class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
