---
const { lang } = Astro.props;

const personalImageAlt = "Feryael Justice";
import { Image } from "astro:assets";
import Badge from "./Badge.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import CV from "./icons/CV.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="max-w-xl" id="hero">
  <div class="flex gap-4 mb-4">
    <Image
      class="rounded-full mb-4 hover:cursor-pointer hover:scale-110 duration-500"
      src="https://avatars.githubusercontent.com/u/47835172?s=400&u=02004f7ba441db6266a8fbe61b7c0ab584d66ea2"
      alt={personalImageAlt}
      width="80"
      height="80"
      loading="eager"
    />
    <a
      href="https://linkedin.com/in/feryael-justice"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge
        >{
          lang == "en"
            ? "Available to work"
            : lang == "es"
              ? "Disponible para trabajar"
              : ""
        }</Badge
      >
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-white">
    {
      lang == "en"
        ? "Hey, I am Feryael Justice"
        : lang == "es"
          ? "Hey, soy Feryael Justice"
          : ""
    }
  </h1>
  <p
    class="mt-6 text-xl [&>strong]:text-yellow-200 [&>strong]:font-semibold text-gray-300"
  >
    <span class="text-yellow-200/90"
      ><em>Junior</em>
      {
        lang == "en"
          ? "Mobile / Web Developer"
          : lang == "es"
            ? "Desarrollador Móvil / Web"
            : ""
      } .</span
    >
    <span class="text-red-100/90"
      >{lang == "en" ? "From" : lang == "es" ? "De" : ""} Mallorca, Spain 🇪🇸.</span
    >
    <span class="opacity-75">
      {
        lang == "en"
          ? "Specialized in Android Apps and Frontend"
          : lang == "es"
            ? "Especializado en Apps Android y Frontend"
            : ""
      }
      .</span
    >
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:fgonzalezserrano10@gmail.com">
      <Mail class="size-4" />
      {lang == "en" ? "Contact me" : lang == "es" ? "Contáctame" : ""}
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/feryael-justice">
      <Linkedin class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="cv.pdf">
      <CV class="size-4" />
      CV
    </SocialPill>
  </nav>
</div>
